html, body {
    background: linear-gradient(to right, #212529, #212529);
    height: 100vh;
  }

.p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: white;
}

ul {
    color: white;
}

h2 {
    color: white
}